<div class="card">
  <div class="card-header">
    定休日設定
  </div>
  <div class="card-body weekly_setting">
    <div class="row">
      <div class="col-3">
        <p class="text-end weekly_text">毎週：</p>
      </div>
      <div class="col-8">
        <div class="mb-3">
          <% week_day_numbers.each do |number| %>
            <div class="form-check form-check-inline">
              <input class="form-check-input week_day_numbers" type="checkbox" id="week_day_<%= number %>" value="<%= number %>">
              <label class="form-check-label" for="week_day_<%= number %>"><%= week_day_names[number] %></label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p class="text-end weekly_text">毎月繰り返し設定にする：</p>
      </div>
      <div class="col-8">
        <div class="mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="repeat_weekly_days" value="1">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-8">
        <div class="mb-3">
          <div id="save_weekly_data" class="btn btn-primary weekly_close_days">保存</div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="card">
  <div class="card-header">
    定休日以外設定
  </div>
  <div class="card-body">
    <div class="wrapper">
      <div class="this_month">
        <!-- xxxx年xx月を表示 -->
        <h1 id="header"></h1>
        <!-- カレンダー -->
        <div id="calendar"></div>
      </div>
      <div class="next_month">
        <!-- xxxx年xx月を表示 -->
        <h1 id="header"></h1>
        <!-- カレンダー -->
        <div id="calendar"></div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary weekly_close_days">保存</button>
      </div>
    </div>
  </div>
</div>