<!DOCTYPE html>
<html>
  <%= render 'application_head' %>
  <body>
    <% if @current_user %>
      <%= render 'header_navi' %>
    <% end %>
    <div class="authentication_container">
      <%= yield %>
    </div>
  </body>
</html>
